body {
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 0 auto;
	padding: 2rem;
}

p {
	margin: var(--size-6);
}

button {
	appearance: none;
	background: #fff;
	box-shadow: none;
	border: 1px solid #b1b6b7;
	border-radius: 3px;
	padding: 0 0.25rem;
	margin: 0;
	display: inline;
	cursor: pointer;
}

nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 1rem 0;

		li {
			display: inline-block;
			margin: 0 0.5rem;
		}
	}
}

.group {
	list-style: none;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	&:empty {
		border: none;
		padding: 0;
	}
}

.swatch,
.new_swatch {
	border: 1px solid #b1b6b7;
	background: #f9fafc;
	min-width: 9rem;
	border-radius: 12px;
	overflow: hidden;

	.swatch_label {
		list-style: none;
		margin: 0.5rem 0 0 0;
		padding: 0.25rem 0.5rem;
		font-size: 0.85rem;

		li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		li + li {
			margin-top: 0.5rem;
		}

		.swatch_label_name {
			display: grid;
			grid-template-columns: 1fr auto;
		}

		.swatch_label_value {
			color: #777;
		}
	}

	.swatch_color {
		height: 90px;
		margin: 0.25rem 0.25rem 0 0.25rem;
		border-radius: 10px;
	}
}

.new_swatch {
	text-align: center;

	form {
		padding: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0.5rem;
		}

		.new_swatch_name {
			display: flex;
			max-width: 250px;
		}

		.new_swatch_rgb {
			display: inline-block;

			input {
				width: 5ch;
			}
		}
	}
}

.new_group {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0.5rem;
		}
	}
}

.contrast_table {
	width: 100%;
	text-align: left;
	margin-top: 2rem;
	border: 1px solid #000;

	td,
	th {
		width: 2rem;
		height: 2rem;
	}
}
