body {
	font-family: sans-serif;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 0 auto;
	padding: 2rem;
}

p {
	margin: var(--size-6);
}

.group {
	list-style: none;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	&:empty {
		border: none;
		padding: 0;
	}
}

.swatch {
	min-height: 100px;
	border: 1px solid #000;
	min-width: 9rem;

	.swatch_label {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		text-align: center;
		padding: 0.25rem 0.5rem;
		background: #fff;
	}
}
