body {
	font-family: sans-serif;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.group {
	list-style: none;
	border: 1px dashed #000;
	padding: 1rem;
}

.group:empty {
	border: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 0 auto;
	padding: 2rem;
}

p {
	margin: var(--size-6);
}
